figure svg > * {
    opacity: 0;
}

figure svg{
    height:auto;
    width:18rem;
    margin-top: -4rem;
}

*{
    font-family: 'Creepster', cursive;
    
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: orangered;
}
main{
    max-width: 960px;
    height: 100vh;
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-image: url("/hangman-boilerplate/css/img/web.jpeg");
    background-repeat:no-repeat;
    text-shadow: -1px -1px 0 #eee;
    
}

p {
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #eee;
}

span{
    font-size: 3rem;
    
}

.right{
    /*grid-column-start: 1;*/
}

.left{
    display: flex;
    flex-direction: column;
}

.left button{
    background-color: orangered;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    border:none;
    color:white;
    width: 20rem;
    text-shadow: none;
}

.left button:active{
    transform: scale(.95);
    filter: brightness(101%);
    text-shadow: none;
}

figure{
    height:10vh;
    width: 10vw;
}

figure svg #ground             { opacity: 1; }
figure.scaffold svg #scaffold  { opacity: 1; }
figure.head     svg #head      { opacity: 1; }
figure.body     svg #body      { opacity: 1; }
figure.arms     svg #arms      { opacity: 1; }
figure.legs     svg #legs      { opacity: 1; }

nav {
    height: 100vh;
    background-image: linear-gradient(to bottom right, red, yellow);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: #eee;
    position: fixed;
    top: 0;
    Left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: all .6s ease;
    font-size: 2rem;
    text-shadow: -2px -2px 0 black;
}



nav.show {
    transform: translateX(0);
}

nav button {
    padding: 3rem 4rem;
    font-size: 1.5rem;
    border-radius: 6px;
    border:none;
    margin-bottom: 2rem;
    display:none;
    justify-content: center;
    text-shadow: none;
}

nav button:active{
    transform: scale(.95);
    filter: brightness(101%);
}

.keepPlaying {
    display: none;
}