figure svg > * {
    opacity: 0;
}

figure svg{
    height:auto;
    width:18rem;
    margin-top: -4rem;
}

*{
    font-family: 'Creepster', cursive;
}

body {
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

header{
    max-width: 960px;
    display: flex;
    Grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin: 0 auto;
    color: orangered;
}

#timebox {
    display: flex;
    padding: 1rem 2rem;
    color: white;
    text-shadow: none;
    margin-top: 15rem;
}



main{
    max-width: 960px;
    height: 100vh;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-image: url("img/web.jpeg");
    background-repeat:no-repeat;
    text-shadow: -1px -1px 0 #eee;
}


section {
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

h3 { 
    margin: 0;
}

p {
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #eee;
}

span{
    font-size: 3rem;   
}

.left{
    display: flex;
    flex-direction: column;
}

.left button{
    background-color: orangered;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    border:none;
    color:white;
    width: 20rem;
    text-shadow: none;
}

.left button:active{
    transform: scale(.95);
    filter: brightness(101%);
    text-shadow: none;
}

figure{
    height:12vh;
    width: 12vw;
    margin-right: 2rem;
}



figure svg #ground             { opacity: 1; }
figure.scaffold svg #scaffold  { opacity: 1; }
figure.head     svg #head      { opacity: 1; }
figure.body     svg #body      { opacity: 1; }
figure.arms     svg #arms      { opacity: 1; }
figure.legs     svg #legs      { opacity: 1; }

nav {
    height: 100vh;
    background-image: linear-gradient(to bottom right, red, yellow);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: #eee;
    position: fixed;
    top: 0;
    Left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: all .6s ease;
    font-size: 2rem;
    text-shadow: -2px -2px 0 black;
}



nav.show {
    transform: translateX(0);
}

nav button {
    padding: 3rem 4rem;
    font-size: 1.5rem;
    border-radius: 6px;
    border:none;
    margin-bottom: 2rem;
    display:none;
    justify-content: center;
    text-shadow: none;
}

nav button:active{
    transform: scale(.95);
    filter: brightness(101%);
}